* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 1.7%;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links li button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 20px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #444;
    padding: 1rem;
    border-radius: 4px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.content {
  padding: 2rem;
}
 
.homeheading{
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 32px;
  font-weight: 700;
  color: #333;
  padding-top: 2%;
} 

.signup-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}

.signup-container input {
  display: block;
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.5rem;
  font-size: 1rem;
}

.signup-container button {
  background-color: rgb(43, 42, 42);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
